.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $colorBlue;
  border-color: transparent;
  min-height: 46px;
  cursor: pointer;
  font-weight: 700;
  color: $colorWhite;
  @include transition;
  &:hover {
    @include transition;
    background-color: $colorBlueLight;
  }
}