.card {
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    display: block;
    background: $colorWhite;
    position: relative;
    border: none transparent;
    overflow: clip;
    box-shadow: 0 16px 24px 8px #8080800d;
}